* {
  vertical-align: baseline;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

html,
body {
  background-color: #eff0f3;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: none; /* no underline */
}

.error {
  border: 5px solid red;
}

/* Mainly Navbar Component*/
.navbar-full {
  width: 100%;
  height: 60px;
  background-color: #323941;
}

.navbar-container {
  max-width: 1200px;
  height: 55px;
  display: grid;
  grid-template-columns: 1fr 2fr 4.5fr 3fr 1.5fr;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
  padding-top: 5px;
}

.navbar-logo-fr {
  width: 100px;
  height: 50px;
  display: grid;
  justify-items: end;
}

.navbar-logo {
  width: 45px;
  height: 50px;
  background: url("./assets/logo.png") no-repeat center;
}

.navbar-logo-text-fr {
  width: 200px;
  height: 50px;
  display: grid;
  justify-items: start;
  align-items: center;
}

.navbar-logo-text {
  font-weight: 600;
  color: #eff0f9;
  font-size: 35px;
  margin-left: 5px;
}

.navbar-gap-fr {
  width: 450px;
  height: 50px;
}

.navbar-create-account-fr {
  width: 300px;
  height: 50px;
  display: grid;
  justify-items: end;
  align-items: center;
}

.navbar-create-account-button {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  width: 250px;
  height: 35px;
  background-color: #3bbd8e;
  border-radius: 100px;
}

.navbar-create-account-button p:first-child {
  display: inline-block;
  color: #eff0f9;
  justify-self: end;
  padding-right: 5px;
}

.navbar-create-account-button p:last-child {
  display: inline-block;
  color: #b7ede0;
}

.navbar-create-account-button:hover {
  background-color: #74d6b9;
}

.navbar-login-fr,
.navbar-logout-fr {
  width: 150px;
  height: 50px;
  display: grid;
  align-items: center;
  justify-items: start;
}

.navbar-login-button,
.navbar-codewars-button {
  color: #eff0f9;
  font-size: 17px;
  padding: 5px 10px;
  margin-left: 5px;
  border: 2px transparent solid;
  transition: border 0.2s, border-radius 0.2s;
}

.navbar-logout-button,
.navbar-settings-button {
  color: #eff0f9;
  font-size: 17px;
  padding: 5px 10px;
  border: 2px transparent solid;
  transition: border 0.2s, border-radius 0.2s;
}

.navbar-login-button:hover,
.navbar-logout-button:hover,
.navbar-codewars-button:hover,
.navbar-settings-button:hover {
  border: 2px #3bbd8e solid;
  border-radius: 100px;
}

.navbar-auth-options-fr {
  width: 300px;
  height: 50px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-items: end;
  align-items: center;
}

.navbar-codewars-button {
  display: inline-block;
  justify-self: end;
  border: 2px transparent solid;
}

.navbar-codewars-img {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("./assets//codewarslogo.png") no-repeat center center/cover;
  border-radius: 5px;
  vertical-align: middle;
}

.navbar-codewars-text {
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  padding-left: 5px;
}

.navbar-settings-button {
  display: inline-block;
  border: 2px transparent solid;
}

/* Mainly Navbar Component*/
