* {
  vertical-align: baseline;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

html,
body {
  background-color: #f4f5f7;
  width: 100%;
  height: 100%;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: none; /* no underline */
}

#root {
  position: relative;
  min-height: 100vh;
}

.error {
  border: 1px solid rgba(242, 52, 82, 0.5);
  border-radius: 3px;
  outline: none;
  color: #323941;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
}

/* Mainly Navbar Component Start */
.navbar-full {
  width: 100%;
  min-height: 60px;
  background-color: #323941;
}

.navbar-container {
  max-width: 1200px;
  min-height: 55px;
  display: grid;
  grid-template-columns: 2.5fr 5.5fr 4fr;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
  padding-top: 5px;
}

.navbar-logo-fr {
  width: 250px;
  height: 50px;
  display: grid;
  justify-items: start;
  grid-template-columns: 45px 205px;
}

.navbar-logo {
  width: 45px;
  height: 50px;
  background: url("./assets/logo.png") no-repeat center;
}

.navbar-logo-text {
  font-weight: 600;
  color: #eff0f9;
  font-size: 35px;
  margin-left: 5px;
  align-self: center;
}

.navbar-gap-fr {
  width: 450px;
  height: 50px;
}

.navbar-gap-fr {
  width: 400px;
}

.navbar-options-fr {
  justify-self: end;
}

.navbar-create-account-button {
  background-color: #3bbd8e;
  border-radius: 100px;
  padding: 8px 15px;
  vertical-align: middle;
}

.navbar-create-account-button p:first-child {
  display: inline-block;
  color: #eff0f9;
  font-size: 17px;
  vertical-align: middle;
}

.navbar-create-account-button p:last-child {
  display: inline-block;
  color: #b7ede0;
  padding-left: 5px;
  font-size: 15px;
  vertical-align: middle;
}

.navbar-login-button {
  margin-left: 5px;
  padding: 5px 10px;
  color: #eff0f9;
  font-size: 17px;
  border: 2px transparent solid;
  transition: border 0.2s, border-radius 0.2s;
}

.navbar-login-button:hover {
  border: 2px #3bbd8e solid;
  border-radius: 100px;
}

.navbar-create-account-button:hover {
  background-color: #74d6b9;
}

.navbar-codewars-button {
  display: inline-block;
  border: 2px transparent solid;
  padding: 5px 10px;
  color: #eff0f9;
}

.navbar-codewars-text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}

.navbar-codewars-img {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("./assets/codewarslogo.png") no-repeat center center/cover;
  border-radius: 10px;
  vertical-align: middle;
}

.navbar-settings-button {
  display: inline-block;
  vertical-align: middle;
  border: 2px transparent solid;
  padding: 5px 10px;
  color: #eff0f9;
}

.navbar-logout-button {
  display: inline-block;
  vertical-align: middle;
  border: 2px transparent solid;
  padding: 5px 10px;
  color: #eff0f9;
  cursor: pointer;
}

.navbar-logout-button:hover,
.navbar-codewars-button:hover,
.navbar-settings-button:hover {
  border: 2px #3bbd8e solid;
  border-radius: 100px;
}
/* Mainly Navbar Component End*/

/* Mainly Landing Component */

.landing-page-container {
  width: 1200px;
  padding-top: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.landing-page-top-content {
  width: 400px;
  justify-content: center;
}

.landing-page-top-content p {
  display: inline-block;
  font-size: 52px;
  font-weight: 600;
  color: #323a46;
}

.landing-page-text-content-wrapper .landing-page-codewars-text {
  color: #74d6b9;
  font-weight: 700;
  font-size: 57px;
}

.landing-page-create-account-button {
  display: inline-block;
  background-color: #3bbd8e;
  margin-top: 20px;
  border-radius: 100px;
  padding: 8px 15px;
  cursor: pointer;
}

.landing-page-create-account-button p:first-child {
  display: inline-block;
  color: #eff0f9;
  font-size: 17px;
}

.landing-page-create-account-button p:last-child {
  display: inline-block;
  color: #b7ede0;
  padding-left: 5px;
  font-size: 15px;
}

.landing-page-create-account-button:hover {
  background-color: #74d6b9;
}

.landing-page-bottom-content {
  display: inline-block;
  justify-items: center;
  width: 800px;
  height: 479px;
  background: url("./assets/algotrack-landing.png") no-repeat center
    center/cover;
}

/* Mainly Landing Component End */

/* Login Component Start */
.form-container {
  max-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 125px;
}

.form-container .form-wrapper-div {
  width: 450px;
  /* height: 400px; */
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(154, 160, 185, 0.05),
    0 5px 30px 0 rgba(166, 173, 201, 0.22);
  justify-self: end;
  border-radius: 8px;
  padding: 10px 30px;
}

.login-component-top-text {
  font-size: 28px;
  text-align: center;
  color: #323941;
  font-weight: 700;
  padding: 20px 0;
}

.loginInputSyle {
  border: 1px solid #e4e6f2;
  border-radius: 3px;
  outline: none;
  color: #323941;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
}

.login-component-login-button {
  font-size: 18px;
  color: #fff;
  background-color: #3bbd8e;
  border-radius: 100px;
  padding: 10px 10px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 15px;
}

.login-component-login-button:hover {
  background-color: #74d6b9;
}

.login-component-error-div {
  text-align: center;
  margin-bottom: 10px;
  color: #e53657;
}

.login-w-google-button {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 10px;
  background-color: #eff0f9;
  border-radius: 3px;
  color: #60657b;
  margin-bottom: 10px;
  font-size: 15px;
  justify-content: center;
  align-content: center;
}

.login-w-github-button {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 10px;
  background-color: #eff0f9;
  border-radius: 3px;
  color: #60657b;
  margin-bottom: 10px;
  font-size: 15px;
  justify-content: center;
}

.login-w-github-button p,
.login-w-google-button p {
  display: inline-block;
  text-align: center;
  padding-left: 10px;
}

.login-github-icon {
  display: inline-block;
  background: url("./assets/github-logo-32.png") no-repeat center center/cover;
  width: 20px;
  height: 20px;
}

.login-google-icon {
  display: inline-block;
  background: url("./assets/google-icon.png") no-repeat center center/cover;
  width: 20px;
  height: 20px;
}

.login-w-github-button:hover,
.login-w-google-button:hover {
  background-color: #f8f9fd;
}

.login-form-register-button {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #60657b;
  cursor: pointer;
  margin-bottom: 15px;
}

.login-form-register-button:hover {
  color: #a2a6c5;
}

/* Login Component End */

/* Register Component Start */

.register-form-container {
  max-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.register-form-container .register-form-wrapper-div {
  width: 450px;
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(154, 160, 185, 0.05),
    0 5px 30px 0 rgba(166, 173, 201, 0.22);
  justify-self: end;
  border-radius: 8px;
  padding: 10px 30px;
}

.registerInputStyle {
  border: 1px solid #e4e6f2;
  border-radius: 3px;
  outline: none;
  color: #323941;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
}

.register-component-error-div {
  text-align: center;
  margin-bottom: 10px;
  color: #e53657;
}

.register-component-register-button {
  font-size: 18px;
  color: #fff;
  background-color: #3bbd8e;
  border-radius: 100px;
  padding: 10px 10px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 15px;
}

.register-component-register-button:hover {
  background-color: #74d6b9;
}

.register-component-form-register-text {
  font-size: 28px;
  text-align: center;
  color: #323941;
  font-weight: 700;
  padding: 20px 0;
}

.register-component-top-text {
  display: block;
  width: 550px;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: #323a46;
  font-weight: 700;
  margin-top: 75px;
  margin-bottom: 25px;
}

/* Register Component End */

/* Create Profile Component Start */
.create-profile-page-container {
  width: 1200px;
  padding-top: 50px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.create-component-left-side-img {
  width: 600px;
  height: 359px;
  background: url("./assets/algotrack-landing.png") no-repeat center
    center/cover;
}

.create-profile-form-container {
  max-width: 600px;
  width: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.create-profile-form-container .create-profile-form-wrapper-div {
  width: 450px;
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(154, 160, 185, 0.05),
    0 5px 30px 0 rgba(166, 173, 201, 0.22);
  justify-self: end;
  border-radius: 8px;
  padding: 10px 30px;
}

.createProfileInputStyle {
  border: 1px solid #e4e6f2;
  border-radius: 3px;
  outline: none;
  color: #323941;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
}

.create-profile-component-button {
  font-size: 18px;
  color: #fff;
  background-color: #3bbd8e;
  border-radius: 100px;
  padding: 10px 10px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 15px;
}

.create-profile-component-button:hover {
  background-color: #74d6b9;
}

.create-profile-component-error-div {
  text-align: center;
  margin-bottom: 10px;
  color: #e53657;
}

.create-profile-component-form-text {
  font-size: 28px;
  text-align: center;
  color: #323941;
  font-weight: 700;
  padding: 20px 0;
}

.create-profile-component-form-info-text {
  font-size: 15px;
  color: #323941;
  font-weight: 500;
  padding: 10px 0;
  color: #e53657;
}

.create-profile-component-top-text {
  display: block;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: #323a46;
  font-weight: 700;
  margin-top: 75px;
  margin-bottom: 25px;
}

.create-profile-component-top-text p {
  display: inline;
}

.create-profile-page-codewars-text {
  color: #74d6b9;
  font-weight: 700;
}

.create-profile-loading-container {
  width: 1200px;
  padding-top: 50px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.create-profile-loading-img {
  width: 300px;
  height: 300px;
  background: url("./assets/loading.gif") no-repeat center center/cover;
}

.create-profile-loading-text {
  align-self: start;
  font-size: 18px;
  font-weight: 600;
  color: #323a46;
}

/* Create Profile Component End */

/* CodewarsChart Component Start */
.choose-category-container {
  width: 400px;
  height: 50px;
  margin: 25px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #626972;
  border-radius: 20px;
  box-shadow: 0 5px 5px 0 rgba(154, 160, 185, 0.05),
    0 5px 30px 0 rgba(166, 173, 201, 0.22);
}
/* 
.choose-category-container div {
  padding: 5px 10px;
  color: #eff0f9;
  border: 2px transparent solid;
  text-align: center;
} */

.none-chosen-category {
  padding: 5px 10px;
  color: #eff0f9;
  border: 2px transparent solid;
  text-align: center;
  margin-left: 5px;
}

.chosen-category {
  padding: 5px 10px;
  color: #eff0f9;
  border: 2px #3bbd8e solid;
  border-radius: 100px;
  text-align: center;
  margin-left: 5px;
}

.none-chosen-category:hover {
  border: 2px #3bbd8e solid;
  border-radius: 100px;
  cursor: pointer;
}

.chosen-category:hover {
  border: 2px #3bbd8e solid;
  border-radius: 100px;
  cursor: pointer;
}

/* CodewarsChart Component End */

/* User Settings Component Start */

.profile-settings-form-container {
  max-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.profile-settings-form-container .profile-settings-form-wrapper-div {
  width: 450px;
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(154, 160, 185, 0.05),
    0 5px 30px 0 rgba(166, 173, 201, 0.22);
  justify-self: end;
  border-radius: 8px;
  padding: 10px 30px;
}

.user-settings-component-form-top-text {
  font-size: 28px;
  text-align: center;
  color: #323941;
  font-weight: 700;
  padding: 20px 0;
}

.user-settings-component-update-button {
  font-size: 18px;
  color: #fff;
  background-color: #3bbd8e;
  border-radius: 100px;
  padding: 10px 10px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 15px;
}

.user-settings-component-update-button:hover {
  background-color: #74d6b9;
}
/* User Settings Component End */

/* Apexcharts Start */

.apexcharts-title-text {
  font-size: 21.5px;
  font-weight: 600;
}
/* Apexcharts End */
